h3 
{font-weight: bold;
       text-decoration: underline;
}

.fa-dollar
{
  color:green;
}

.fa-percent
{
color:green;

}

#total-monthly-rental-income{
 width: 25%;

}
.sorting{
  color: white;
  font-weight: bold;
}

.dt-button{
  color: black;
}
.fa-dollar-sign 
{
  color:green;
}